<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'CSS/mian.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'J/mian.js' %}" defer></script>

</head>
<body>

<div class="parent">
  {% block div1 %}
  <div class="div1">

          <a href="/mian">主页</a>
          <div class="dropdown">
              <button class="dropbtn">▼</button>
              <div class="dropdown-content">
                  <a href="#">子菜单1</a>
                  <a href="#">子菜单2</a>
                  <a href="#">子菜单3</a>
              </div>
          </div>
          <a href="/navi/chap_1/">AI</a>
        <!--
          <div class="dropdown">
              <button class="dropbtn">▼</button>
              <div class="dropdown-content">
                  <a href="#">子菜单4</a>
                  <a href="#">子菜单5</a>
                  <a href="#">子菜单6</a>
              </div>
          </div>
          -->
          <a href="/robocon">Robocon</a>
        <!--
          <div class="dropdown">
              <button class="dropbtn">▼</button>
              <div class="dropdown-content">
                  <a href="#">子菜单7</a>
                  <a href="#">子菜单8</a>
                  <a href="#">子菜单9</a>
              </div>
          </div>
          -->

          <a href="/modumst">黄道地库</a>
        <!--
          <div class="dropdown">
              <button class="dropbtn">▼</button>
              <div class="dropdown-content">
                  <a href="/modumst">模型管理</a>
                  <a href="#">代码托管</a>

              </div>
      </div>
      -->
      </div>
      {% endblock %}
    <div class="centered-text">
        <p>华东理工大学</p>
        <h1>机械创客</h1>
    </div>
<div class="container">
  <div class="box">
    <span></span>
    <div class="content">
      <h2>ROBOCON专用</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quas.</p>
      <a href="https://github.com/oldkingzz/ECUST-robocon">Read</a>
    </div>
  </div>

  <div class="box">
    <span></span>
    <div class="content">
      <h2>ECUST黄道地库</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, quae.</p>
      <a href="https://github.com/oldkingzz/ECUST-techCrafts">Read</a>
    </div>
  </div>

</div>
</div>